 /* *{
            border-width: 5px;
            border-style: dashed;
            border-color: blue;
        } */


 body {
     font-family: "Open Sans", sans-serif;
     font-optical-sizing: auto;
     font-weight: 500;
     font-style: normal;
     
 }

 header {
     background-image: url("../img/bg-hero.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     text-shadow: 0px 3px 6px black;
     text-align: right;
     color: white;

 }

 header h1 {
     font-size: 60px;
 }

 header h3 {
     font-size: 40px;
     font-weight: lighter;
 }

 #Proxima-Charla {
     background: #a4452c;
     padding: 100px;
     color: white;
 }

 #Proxima-Charla .wrapper {
     width: 800px;
     margin: auto;
 }

 .wrapper img {
     width: 25%;
 }

 .wrapper .texto {
     width: 70%;
     margin-left: 4%;
 }

 .wrapper img,
 .texto {
     display: inline-block;
     vertical-align: middle;
 }
 #Eventos-Anteriores {
     text-align: center;
 }